#clipWrap {
    display:none;
}
#clippyBox {
    display: flex;
    position: fixed;
    left: 50%;
    flex-direction:row;
    top: 10%;
    z-index: 999;
    width: 450px;
    min-height: 300px;
}
#clippyBox #imageWrap {
    clear:both;
    flex: 1;
    position:relative;
    display:block;
    overflow:hidden;
    padding:15px 30px;
}
#clippyBox > div {
    flex-basis:0;

}
#clippyBox #imageWrap img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 70%;

}
#clippyTextBubble {
    text-align: center;
    display: flex;
    flex-direction:column;
    font-size:13px;
    flex: 4;
    flex-grow:3;
    background:rgba(238, 238, 238, 0.8);
}
#closeAdvice {
    font-size: 20px;
    font-weight: 600;
    padding: 3px 5px;
    color: black;
    float: right;
    line-height:1;
    cursor:pointer;
}
#closeAdvice:hover  {
    background:rgba(0,0,0,0.3);
}
#clippyAdviceContent {
    background: rgba(238, 238, 238, 0.8);
    display: block;
    position: relative;
    padding: 30px;
    flex-grow: 1;
    overflow-x: auto;
}
#titleBar {
    background: rgba(107, 107, 107, 0.4);
    line-height:25px;
    color: white;
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}